.logo {
    width:200px;
    padding-top:25px;
    padding-bottom:25px;

}
.navBar {
    display:inline-block;
    vertical-align:top;
    justify-content:center;
    font-size: 24px;
    padding:8px 25px;
    margin:0

}
.navBar ul {
    display:flex;
    list-style:none;
    margin:20px 0px
}
.navbar ul li a{
    padding:10px 30px;
    color:black;

}
.aboutPage{
    justify-content: center;
    align-items: center;
}
.arrowDown {
    align-items: center;
    justify-content:flex-end;

}