.logo {
    width:200px;
    padding-top:25px;
    padding-bottom:25px;

}
.navBar {
    display:inline-block;
    vertical-align:top;
    justify-content:center;
    font-size: 24px;
    padding:0;
    margin:0

}
.navBar ul {
    display:flex;
    list-style:none;
    margin:20px 0px
}